{% extends "base.html" %}

{% block title %}{# Page title #}{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}

{% block content %}
    <form method="POST" id="edit-form">
        <div class="row">
            <div class="form-group">
                <div class="float-xs-left">
                    <h2>Edit an Artist</h2>
                </div>
                <div class="float-xs-left float-sm-right">
                    <button class="btn btn-primary">Save Changes</button>
                    <a class="btn btn-secondary" href="{{url_for('artist', artist=artist.url_name)}}">Cancel</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="name"><strong>Name</strong></label>
                <input class="form-control" type="text" name="name" id="name" value="{{artist.name}}" />
            </div>
        </div>

        <div class="row">
            <h4>Top Songs</h4>
        </div>

        <div class="row">
            <div class="col-xs-12">
            {% set count = 0 %}
            {% for song in artist_songs %}
                <div class="form-group">
                    <div class="col-sm-2 hidden-xs-down">
                        <strong>Song {{count + 1}}</strong>
                    </div>
                    <div class="col-xs-6 col-sm-5">
                        <label for="{{song.youtube_id}}|title">Title
                            <input class="form-control" type="text" name="song|title|{{count}}" id="{{song.youtube_id}}|title" value="{{song.name}}" />
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-5">
                        <label for="{{song.youtube_id}}|id">Youtube Video ID
                            <input class="form-control" type="text" name="song|id|{{count}}" id="{{song.youtube_id}}|id" value="{{song.youtube_id}}"/>
                        </label>
                    </div>
                </div>
                {% set count = count + 1 %}
            {% endfor %}
            </div>
        </div>

        <div class="row">
            <h4>Genres</h4>
        </div>

    {% if artist_genres %}
        <div class="row">

            <div class="col-xs-12 col-sm-2 form-group">
                <strong>Sub-Genres</strong>
            </div>
            {% for column in columns(artist_genres) %}
            <div class="col-xs-12 col-sm-5">
                {% for genre in column %}
                <div class="form-group">
                    <label class="form-check-label text-capitalize" for="{{genre.gen_id}}">
                        <input type="checkbox" name="genre|{{genre.name}}" id={{genre.gen_id}} checked /> {{genre.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if db_genres %}
        <div class="row">

            <div class="col-xs-12 col-sm-2 form-group">
                <strong>Sub-Genres</strong>
            </div>
            {% for column in columns(db_genres) %}
            <div class="col-xs-12 col-sm-5">
                {% for genre in column %}
                <div class="form-group">
                    <label class="form-check-label text-capitalize" for="{{genre.gen_id}}">
                        <input type="checkbox" name="genre|{{genre.name}}" id={{genre.gen_id}} /> {{genre.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

        <div class="row">
            <div class="form-group float-xs-right">
                <button class="btn btn-primary">Save Changes</button>
                <a class="btn btn-secondary" href="{{url_for('artist', artist=artist.url_name)}}">Cancel</a>
            </div>
        </div>

    </form>
{% endblock %}