<!-- Searches Spotify api for a specific artist and if artists are found displays list of possible matches. Select match to create a DB entry for that artist. If no artists are found, display list for custom artist creation. -->
{% extends "base.html" %}
{% block title %}Create an Artist{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="/static/js/artist_create.js"></script>
{% endblock %}
{% block content %}
    <form id='artist-search'>
        <label for="name">Artist</label>
        <input type="text" name="name" autocomplete="off" id="name"></input>
        <button>Search</button>
    </form>

    <div class="col-xs-6">
        <ol id="artists">
            <!-- Artists will be rendered here -->
        </ol>
    </div>
    <div class="col-xs-6">
        <ol id="artists-added">
            <!-- When adding to database, artists will appear here -->
        </ol>
    </div>

{% endblock %}