{% extends "base.html" %}
{% block title %}Catalog{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}
{% block content %}
    <div class="col-xs-6">
        <h2>Genres</h2>
        <ul>
            {% for genre in genres %}
                <li>
                    <a class="text-capitalize" href="{{url_for('genre', genre=genre.url_name)}}">{{genre.name}}  {{genre.num_artists}}</a>
                </li>
            {% endfor %}
        </ul>

    </div>

    <h2>Recent Additions</h2>
        {% for artist in recent_items %}
            <a href="{{url_for('artist', artist=artist.url_name)}}">{{artist.name}}</a>
        {% endfor %}
{% endblock %}