{% extends "base.html" %}
{% block title %}Catalog{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h1>Music Catalog</h1>
            <p><small class="text-muted">Watch Youtube music videos for artists' top Spotify songs</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Recent Additions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 card-columns">
            {% for artist in recent_items %}
                <a href="{{url_for('artist', artist=artist.url_name)}}">
                    <div class="card card-block text-xs-center">
                        <h3 class="card-title text-muted">{{artist.name}}</h3>

                        <picture>
                            {% if artist.img_url_lg %}
                                <source media="(min-width: {{img_lg}}px)" srcset="{{artist.img_url_lg}}">
                            {% endif %}
                            {% if artist.img_url_md %}
                                <source media="(min-width: {{img_md}}px)" srcset="{{artist.img_url_md}}">
                            {% endif %}
                            {% if artist.img_url_sm %}
                                <source media="(min-width: {{img_sm}}px)" srcset="{{artist.img_url_sm}}">
                            {% endif %}
                            {% if artist.img_url_xs %}
                                <source media="(min-width: {{img_xs}}px)" srcset="{{artist.img_url_xs}}">
                            {% endif %}
                            <img class="card-img-top img-fluid artist-img" src="">
                        </picture>

                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Genres</h2>
        </div>
    </div>

    <div class="row">
    {% for column in columns(genres) %}
        <div class="col-xs-12 col-sm-6">
            <ul class="list-group influence-list">

            {% for gen in column %}
                <a href="{{url_for('genre', genre=gen.url_name)}}">
                    <li class="list-group-item">
                        <h5 class="text-capitalize">{{gen.name}}<small class="float-xs-right text-muted">{{gen.num_artists}}</small></h5>
                    </li>
                </a>
            {% endfor %}

            </ul>
        </div>
    {% endfor %}
    </div>


{% endblock %}