{% extends "base.html" %}

{% block title %}{{genre.name}}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/genre.css">
{% endblock %}

{% block content %}

    <div class="genre-header row text-xs-center">
        <h1 class="text-capitalize">{{genre.name}}</h1>
        {% if cur_user and cur_user['user_id'] == genre.user %}
            <a class="btn btn-sm btn-warning" href="{{url_for('genre_edit', genre=genre.url_name)}}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{{url_for('genre_delete', genre=genre.url_name)}}">Delete</a>
        {% endif %}
    </div>


    <div class="card-columns">
    {% for artist in artists %}
        <a href="{{url_for('artist', artist=artist.url_name)}}">
        <div class="card card-block text-xs-center">
            <picture>
                {% if artist.img_url_lg %}
                    <source media="(min-width: {{img_lg}}px)" srcset="{{artist.img_url_lg}}">
                {% endif %}
                {% if artist.img_url_md %}
                    <source media="(min-width: {{img_md}}px)" srcset="{{artist.img_url_md}}">
                {% endif %}
                {% if artist.img_url_sm %}
                    <source media="(min-width: {{img_sm}}px)" srcset="{{artist.img_url_sm}}">
                {% endif %}
                {% if artist.img_url_xs %}
                    <source media="(min-width: {{img_xs}}px)" srcset="{{artist.img_url_xs}}">
                {% endif %}
                <img class="card-img-top img-fluid artist-img" src="">
            </picture>

            <h4 class="card-title text-muted">{{artist.name}}</h4>
        </div>

        </a>
    {% endfor %}
    </div>

    <h3>Sub-genres</h3>
    <div class="col-xs-12 col-sm-8 col-md-6">
        <ul class="list-group influence-list">
            {% for gen in influences %}
                <a href="{{url_for('genre', genre=gen.url_name)}}">
                    <li class="list-group-item">
                            <h5 class="text-capitalize text-muted">{{gen.name}}</h5>
                            <span class="tag tag-default tag-pill">Artists: {{gen.num_artists}}</span>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>


{% endblock %}