{% extends "base.html" %}

{% block title %}Edit {{genre.name}}{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{genre.name}}" id="name"/>
        <br>
        <label>Artists
            {% for artist in gen_artists %}
                <br>
                <label for="{{artist.name}}">{{artist.name}}</label>
                <input type="checkbox" name="artist-{{artist.art_id}}" id="{{artist.name}}" checked />
            {% endfor %}
            {% for artist in db_artists %}
                <br>
                <label for="{{artist.name}}">{{artist.name}}</label>
                <input type="checkbox" name="artist-{{artist.art_id}}" id="{{artist.name}}" />
            {% endfor %}
        </label>
        <br>
        <label>Genres
            {% for genre in gen_influences %}
                <br>
                <label for="{{genre.name}}">{{genre.name}}</label>
                <input type="checkbox" name="genre-{{genre.gen_id}}" id="{{genre.name}}" checked />
            {% endfor %}
            {% for genre in db_genres %}
                <br>
                <label for="{{genre.name}}">{{genre.name}}</label>
                <input type="checkbox" name="genre-{{genre.gen_id}}" id="{{genre.name}}" />
            {% endfor %}
        </label>
        <br>
        <button>Save Changes</button>
    </form>
{% endblock %}