{% extends "base.html" %}

{% block title %}Edit {{genre.name}}{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{genre.name}}" id="name"/>
        <h1>genre id is {{genre.gen_id}}</h1>
        <br>
        <label>Artists
            {% for artist in gen_artists %}
                <br>
                <label for="{{artist.name}}">{{artist.name}}</label>
                <input type="checkbox" name="artist|{{artist.art_id}}" id="{{artist.name}}" checked />
            {% endfor %}
            {% for artist in db_artists %}
                <br>
                <label for="{{artist.name}}">{{artist.name}}</label>
                <input type="checkbox" name="artist|{{artist.art_id}}" id="{{artist.name}}" />
            {% endfor %}
        </label>
        <br>
        <label>Genres
            {% for gen in gen_influences %}
                <br>
                <label for="{{gen.name}}">{{gen.name}}</label>
                <input type="checkbox" name="gen|{{gen.gen_id}}" id="{{gen.name}}" checked />
            {% endfor %}
            {% for gen in db_genres %}
                <br>
                <label for="{{gen.name}}">{{gen.name}}</label>
                <input type="checkbox" name="gen|{{gen.gen_id}}" id="{{gen.name}}" />
            {% endfor %}
        </label>
        <br>
        <button>Save Changes</button>
    </form>
{% endblock %}