{% extends "base.html" %}

{% block title %}{# Page title #}{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
        <br>
        <label>Artists
            {% for artist in artists %}
                <br>
                <label for="{{artist.name}}">{{artist.name}}</label>
                <input type="checkbox" name="artist|{{artist.art_id}}" id="{{artist.name}}"/>
            {% endfor %}
        </label>
        <br>
        <label>Genres
            {% for genre in genres %}
                <br>
                <label for="{{genre.name}}">{{genre.name}}</label>
                <input type="checkbox" name="genre|{{genre.gen_id}}" id="{{genre.name}}"/>
            {% endfor %}
        </label>
        <br>
        <button>Create</button>
    </form>
{% endblock %}