{% extends "base.html" %}

{% block title %}Create a Genre{% endblock %}
{% block head %}
    {# Page-specific JS and CSS #}
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="row">
            <div class="form-group float-xs-right">
                <button class="btn btn-primary" type="submit">Create</button>
                <a href="{{url_for('catalog')}}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <div class="form-group">
            <label for="name"><strong>Name</strong></label>
            <input class="form-control" type="text" name="name" id="name"/>
        </div>


    {% if artists %}
        <div class="row">
            <div class="col-xs-12 col-sm-2 form-group">
                <strong>Artists</strong>
            </div>
            {% for column in columns(artists) %}
            <div class="col-xs-12 col-sm-5">
                {% for artist in column %}
                <div class="form-group">
                    <label class="form-check-label" for="{{artist.name}}">
                        <input class="form-check-input" type="checkbox" name="artist|{{artist.art_id}}" id="{{artist.name}}"/> {{artist.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if genres %}
        <div class="row">

            <div class="col-xs-12 col-sm-2 form-group">
                <strong>Sub-Genres</strong>
            </div>
            {% for column in columns(genres) %}
            <div class="col-xs-12 col-sm-5">
                {% for genre in column %}
                <div class="form-group">
                    <label class="form-check-label text-capitalize" for="{{genre.name}}">
                        <input class="form-check-input" type="checkbox" name="genre|{{genre.gen_id}}" id="{{genre.name}}"/> {{genre.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

        <div class="row">
            <div class="form-group float-xs-right">
                <button class="btn btn-primary" type="submit">Create</button>
                <a href="{{url_for('catalog')}}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>

    </form>
{% endblock %}
