{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
	<script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1089347793303-6ojhdfgrtdou1qq202uk41fbt6jm43q1.apps.googleusercontent.com">
    <script>
        $(function(){
            $('#sign-out').click(signOut);
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        });

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            id_token = googleUser.getAuthResponse().id_token;
            auth_data = {
                'token': id_token,
                'state': '{{STATE}}'
            }
            $.ajax({
                url: '/gconnect',
                method: 'POST',
                data: auth_data,
                success: function(){
                    console.log('token sent')
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" id="sign-out">Sign out</a>
{% endblock %}